* {
   padding: 0;
   margin: 0;
}
 
body {
   background: #f4f1e5;
   color: #544738;
   font-family: helvetica, sans-serif;
}
ul li {
    float: left;
    list-style: none;
    margin-right: 1em; 
}
 
li a {
    color: #544738;
    text-decoration: none;
    float: left;
    font-size: 25px;
    padding: 12px;
}
 
li a:hover {
    color: #7eb9be;
}
@font-face {
    font-family: 'KulminoituvaRegular';
    src: url('kulminoituva-webfont.eot');
    src: local('‚ò∫'), url('kulminoituva-webfont.woff') format('woff'), url('kulminoituva-webfont.ttf') format('truetype'), url('kulminoituva-webfont.svg#webfontHNAi9IoX') format('svg');
    font-weight: normal;
    font-style: normal;
}
ul li {
    float: left;
    list-style: none;
    margin-right: 1em;
    font-family: 'KulminoituvaRegular', helvetica, sans-serif;
    font-size: 25px;
    padding: 12px; 
}
 
li a {
    color: #544738;
    text-decoration: none;
    float: left;
}
 
li a:hover {
    color: #7eb9be;
}
li a:hover {
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}
.left a:hover {
     
    /*Transition*/
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
     
    /*Transform*/
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}
 
.right a:hover {
 
    /*Transition*/
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
     
    /*Transform*/
    -webkit-transform: rotate(10deg) scale(1.2);
    -moz-transform: rotate(10deg) scale(1.2);
    -o-transform: rotate(10deg) scale(1.2);
}




.jumbotron {
  background-image:url("http://i.imgur.com/9YWFj8o.jpg?1");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: black;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides{
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2{
    color: #393c3d;
    font-size: 24px;

}

.neighborhood-guides p{
     font-size: 20px;
    margin-bottom: 13px;    
}

#footer {
  display: inline !important;
   position: relative;
   zoom: 1;
}
  
