
#name{ 
  width:500px; 
  height: 262px; 
  margin-left: auto; 
  margin-right: auto; 
  position: relative; 
  color:#DC143C; 
  font-family: helvetica; 
  font-style: italic; 
  font-size: 25pt; 
}
